body {
    background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );}
.bg-card {
    background-color: #e3e3e3;
}
.imgcarrousel {
    height: 450px;
}
.primeralinea {
    text-align: justify;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tipopokemon {
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    color: white;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 13px;
    text-align: center;
}
.bg-veneno {
    background-color: blueviolet;
}
.bg-fuego {
    background-color: #fd7e14;
}
.bg-tierra {
    background-color: #f19d2e;
}
.bg-volador {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}
#cardpokemon {
    width: 25%;
}
@media (min-width:768px) and (max-width: 991px) {
    #cardpokemon {
        width: 50%;
    }
  }
@media (max-width: 767px) {
    #cardpokemon {
        width: 100%;
    }
}
